:root{
        --primary-font: 'Roboto', sans-serif;
        --secondary-font: 'Raleway', sans-serif;
        --accent-color: #2196F3;
        --color-title: #212121;
        --color-text: #757575;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body{
        font-family: var(--primary-font);
}

/* ========== COMPONENTS ========== */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-dark {
    color: #000;
}

.logo-light {
    color: #fff;
}


/* ========== HEADER ========== */
.menu-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--color-title);
}

.current{
    color: var(--accent-color);
}

.email{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--color-text);
}

.phone-number{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: var(--color-text);
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

.email:hover,
.email:focus{
    color: var(--accent-color);
}

.phone-number:hover,
.phone-number:focus{
    color: var(--accent-color);
}
/* ========== STYDIO HERO ========== */
.hero-title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.stydio-hero{
    background: #2F303A;
}

.modal-btn{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        /* identical to box height, or 188% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: var(--accent-color);
        cursor: pointer;
}

/* ========== BENEFITS ========== */

.benefits-examples-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--color-title);
}

.benefits-examples-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
        letter-spacing: 0.03em;
        color: var(--color-text);
}

/* ========== PORTFOLIO ========== */

.portfolio-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--color-title);
}
/* ==========OUR TEAM========== */
.employees-section{
    background: #F5F4FA;
}

.employees-card{
    background: #FFFFFF;
}

.employees-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.67;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--color-title);
}

.employees-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--color-title);
}

.employees-position{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--color-text);
}

/* ========== FOOTER ========== */
.footer{
    background: #2F303A;
}

.footer-phone-number{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.footer-email{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.contact-list-link{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}

/* ========== PAGE2 ========== */
/* ========== HERO ========== */

.filter-btn{
    border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--color-title);
        background: #F5F4FA;
        cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus{
    color: #FFFFFF;
    background: var(--accent-color);
}

/* ========== OUR PROJECTS ========== */

.projects-list-item{
    background: #FFFFFF;
}

.project-name{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: var(--color-title);
}

.project-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: var(--color-text);
}